:root {
  --background-color-white:#fff;
  --background-color-white-2:#F8FAFE;
  --gray-surface-1:#727574;
  --gray-surface-2:#B7BAB9;
  --gray-surface-3:#F2F2F2;
  --gray-surface-4:#F9F9F9;
  --border-color-1:#E4E4E5;
  --text-color-1:#323738;
  --profile-icon-bg:#003A92;


  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color-1);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;
}
[autocomplete="off"] + div[data-lastpass-icon-root="true"] {
  display: none;
}

[autocomplete="off"] + div[data-lastpass-infield="true"] {
  display: none;
}
#root{
  width: 100%;
  height: 100%;
}
html {
  height: 100% !important;
  font-family: 'Poppins', sans-serif !important;

}
/* html, body, #root {
  width: 100%;
  min-height: 100%;
} */
body {
  height: 100% !important;
  /* font-family: 'Poppins', sans-serif; */
  font-family: inherit !important;
  /* display: flex;
  place-items: center;
  min-width: 320px; */
  /* min-height: 100vh; */
}

*{
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}
ul{
  list-style-type: none;
}
input, textarea, button {font-family: inherit}

.osano-cm-dialog--type_bar.osano-cm-dialog--position_bottom{
  bottom: 0 !important;
}