.header{
 max-width: 60rem;
 margin: auto;
 display: flex;
 justify-content: space-between;
 padding: 2rem;
}
.list{
display: flex;
gap: 1rem;
}
.list a{
   text-decoration: none;
   color: cornflowerblue;
}
.list a:hover,
.list a.active{
   color: var(--color-primary-800);
}